[user]
    name = edoner
    email = edonet@163.com

[core]
    quotepath = false

[gui]

    # 代码库统一使用utf-8
    encoding = utf-8

[i18n]

    # log编码，声明后发到服务器才不会乱码
    commitencoding = utf-8
    logoutputencoding = utf-8

[svn]

    # 支持中文路径
    pathnameencoding = GB2312
